/* Home page main box */
.top-home-page-box {
    text-align: left;
    padding: 30px;
    margin: 10px;
    background-color: #f2f2f2;
    border-radius: 20px;
}

/* Login header name */
.header-name {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    border-radius: 5px;
}

/* Button class */
button.dashboard-button {
    float: right;
    margin: 5px;
}

/* Button space */
button.ten-space {
    margin: 5px;
}